:root{
    --primary-color:#5AA7E8; 
    --secondary-color:#F8991B;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

body{
    font-family: 'Lato', sans-serif;
}

/* Header section starts here */
.head-flex{
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.head-flex div{
 margin: 0 50px;
}
.heading-list{
    margin-top: -3px!important;
}
.head-flex div p{
    color: #fff;
    margin-top: 10px;
    font-size: 1.1rem;
}
.head-flex div a {
    margin: 0 4px;
    text-decoration: none;
    color: #fff;
}
.head-flex div a:hover{
    color: #dddbdb;
}
.cart{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 0 6px;
}
@media(max-width:950px){
    .head-flex div{
        margin: 0 16px;
    }
}

@media(max-width:578px){
    .head-flex div{
        margin: 0 10px;
       }
}

@media(max-width:500px){
    .head-flex div{
        margin: 0 5px;
       }
       .head-flex div p{
        font-size: 0.95rem;
    }
    .head-flex div a {
        font-size: 0.95rem;
    }

}
@media(max-width:442px){
    .head-flex{
        flex-direction: column;
    }
    .heading-list{
        margin-top: -15px!important;
    }
}




/* Main section starts here */
.cart-heading{
    padding-top: 1rem;
    color: var(--primary-color);
    margin-bottom: 3rem;
}







/* Footer starts here */
footer{
    margin-top: 2%;
}
.quick-links a, .footer-social a{
    display: block;
    text-decoration: none;
    color: #000;
    line-height: 35px;
}

.quick-links a:hover{
    color: var(--primary-color);
}

.footer-social a:hover{
    color:var(--primary-color);
}
.su-btn{
    display: block;
    margin-top: 2.5%;
    border: 1px solid var(--secondary-color);
    padding: 5px;
    width: 15rem;
    background-color: var(--secondary-color);
    border-radius: 8px;
    color: #fff;
}
.su-btn:hover{
    border:1px solid #faa434; 
    background-color: #faa434;   
}
.em{
    border: 1px solid #000;
    padding: 5px;
    width: 15rem;
    border-radius: 8px;
}
.su-btn:hover{
    border:1px solid #faa434; 
    background-color: #faa434;   
}
@media(max-width:1067px){
    .em{
        border: 1px solid #000;
        padding: 5px;
        width: 13rem;
        border-radius: 8px;
    }
    .su-btn{
        display: block;
        margin-top: 2.5%;
        border: 1px solid var(--secondary-color);
        padding: 5px;
        width: 13rem;
        background-color: var(--secondary-color);
        border-radius: 8px;
        color: #fff;
    }
}

@media(max-width:950px){
    .em{
        border: 1px solid #000;
        padding: 5px;
        width: 12rem;
        border-radius: 8px;
    }
    .su-btn{
        display: block;
        margin-top: 2.5%;
        border: 1px solid var(--secondary-color);
        padding: 5px;
        width: 12rem;
        background-color: var(--secondary-color);
        border-radius: 8px;
        color: #fff;
    }
}

@media(max-width:874px){
    .em{
        border: 1px solid #000;
        padding: 5px;
        width: 11rem;
        border-radius: 8px;
    }
    .su-btn{
        display: block;
        margin-top: 2.5%;
        border: 1px solid var(--secondary-color);
        padding: 5px;
        width: 11rem;
        background-color: var(--secondary-color);
        border-radius: 8px;
        color: #fff;
    }
    .em::placeholder{
        font-size: 0.95rem;
    }
}

@media(max-width:805px){
    .em{
        border: 1px solid #000;
        padding: 5px;
        width: 10.5rem!important;
        border-radius: 8px;
    }
    .su-btn{
        display: block;
        margin-top: 2.5%;
        border: 1px solid var(--secondary-color);
        padding: 5px;
        width: 10.5rem!important;
        background-color: var(--secondary-color);
        border-radius: 8px;
        color: #fff;
    }
    .em::placeholder{
        font-size: 0.90rem;
    }
}

@media(max-width:767px){
    .footer-separation{
        margin-top: 20px;
    }
   
}









@media (max-width:805px){
    .em{
        width: 12rem;
    }
    .su-btn{
        width: 12rem;
    }
}


@media (max-width:645px){
    .em{
        width: 10rem;
        font-size: 0.85rem;
    }
    .su-btn{
        width: 10rem;
    }
}
@media (max-width:575px){
    
    .su-btn{
        margin-top: 6px;
    }
   
}

/* Copyright section starts here */
.copyright{
    background: #787878;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 3px;
}

@media (max-width:703px){
    
    .copyright{
        margin-top: 20px;
    }
}

@media (max-width:575px){
    
    .copyright{
        margin-top: 12px;
    }
}